.searchBar {
  margin-top: 1em;
  vertical-align: bottom;
}
.searchBar input {
  border: none;
  padding: 0.8em;
  margin: 0.2em;
  border-radius: 3px;
}
.searchBar input[type=submit] {
  cursor: pointer;
  padding: 0.7em;
  border-radius: 50%;
  transition: background-color 0.4s;
}
.searchBar input[type=submit]:hover {
  background-color: #bbf;
}