.thumb {
  margin: 0.6em;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #445;
  overflow: hidden;
  background-color: #1d1f26;
  font-size: 80%;
  border-radius: 3px;
  padding: 0.5em;
  transition: border 0.4s;
}
.thumb:hover {
  border: 1px solid #bbf;
}
.thumb li {
  display: table;
  width: 100%;
}
.thumb div {
  vertical-align: middle; 
  display: table-cell; 
}

.thumb .date {
  font-size: 60%;
}

.thumb .popularity,
.thumb .votes {
  font-size: 80%;
}
