.movie .details {
  padding: 0 0 0 2em;
  text-align: justify;
  font-size: 80%;
  margin: 2em;
  border: 1px solid #445;
  min-height: 34vw;
  background-color: #1d1f26;
}

.movie .tagline {
  margin-bottom: 2em;
}
.movie img {
  width: 20vw;
  float: right;
  margin: 1em 2em;
}

.movie .date {
  margin: 1em;
  white-space: nowrap;
}