.App {
  padding: 1em;
  text-align: center;
  background-color: #131417;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(to bottom, #131417, rgba(0, 0, 0, 0)), var(--bkg);
  background-size: cover;
}

h1, form {
  margin: 0 0.5em;
  display: inline-block;
}

h2 {
  margin-bottom: 0.5em;
}

a, a:visited {
  color: #0ebeff;
  transition: color 0.4s;
}

a:hover, a:active {
  color: #9ee5ff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
